html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Farsan', cursive;
  font-size: 20px;
  color: #333;
  background: url(../img/confectionary.png) #fbfbfb;
  /* Small devices (tablets, $breakpointLarge and up) */ }
  @media (min-width: 992px) {
    body {
      font-size: 30px; } }

.body-container {
  position: absolute;
  left: 0;
  right: 0;
  overflow-x: hidden; }

h1 {
  font-size: 5em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.5em; }

h4, h5, h6 {
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Great Vibes', cursive;
  margin: 0.5em 0 0;
  line-height: 1.5em;
  color: #666;
  font-weight: bold; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

.form-control {
  font-size: 0.8em; }

p {
  line-height: 1.5em;
  margin: 0 0 1em; }

a {
  color: #888;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #555555; }

.light {
  font-weight: 400; }

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: Helvetica,Arial,sans-serif;
  background-color: #fbfbfb; }
  .navbar-custom .navbar-toggle {
    padding: 4px 6px;
    color: #333; }
    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
      outline: none; }
  .navbar-custom .navbar-brand {
    font-size: 14px;
    font-weight: 700; }
    .navbar-custom .navbar-brand:focus {
      outline: none; }
  .navbar-custom .nav li a {
    transition: background .3s ease-in-out; }
    .navbar-custom .nav li a:hover {
      color: black;
      outline: none;
      background-color: transparent; }
    .navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
      outline: none;
      background-color: transparent; }
  .navbar-custom .nav li.active {
    outline: none; }
    .navbar-custom .nav li.active a {
      background-color: rgba(0, 0, 0, 0.3); }
      .navbar-custom .nav li.active a:hover {
        color: white; }
  @media (min-width: 992px) {
    .navbar-custom {
      padding: 20px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: transparent;
      transition: background .5s ease-in-out,padding .5s ease-in-out, color .5s ease-in-out; }
      .navbar-custom a {
        color: white;
        text-shadow: 0 0 3px black; }
      .navbar-custom.top-nav-collapse {
        padding: 0;
        background: #fbfbfb;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        .navbar-custom.top-nav-collapse a {
          color: #333;
          text-shadow: none; } }

.intro {
  font-family: 'Great Vibes', cursive;
  color: white;
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 20px black;
  background: url(../img/intro_bg.jpg) no-repeat bottom center scroll;
  background-size: cover; }
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .intro .intro-body .brand-heading {
      color: white;
      font-weight: 600; }
    .intro .intro-body .intro-text {
      font-size: 3em; }

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  box-shadow: 0 0 10px black;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px black;
  background: transparent;
  transition: background .3s ease-in-out; }
  .btn-circle:hover, .btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(0, 0, 0, 0.1); }
  .btn-circle i.animated {
    transition-property: transform;
    transition-duration: 1s; }
  .btn-circle:hover i.animated {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

@keyframes pulse {
  from {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.content-section {
  padding-top: 100px; }

.paper-box {
  background-color: white;
  padding: 30px 40px;
  position: relative;
  border: 1px solid #BBB;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.08); }

.paper-box:before, .paper-box:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 12px;
  background: transparent;
  transform: skew(-5deg) rotate(-5deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  z-index: -1; }

.paper-box:after {
  left: auto;
  right: 12px;
  transform: skew(5deg) rotate(5deg); }

.mobile-message {
  display: none;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .mobile-message {
      display: block; } }
  .mobile-message .alert {
    border: 2px solid #FFAAAA;
    border-radius: 4px;
    background-color: #FEFAFA;
    color: #FF8888;
    padding: 15px;
    font-size: 22px;
    margin: 20px 0 -80px 0; }

.photo-card {
  position: absolute;
  top: 0;
  border: 3px solid white;
  z-index: -5;
  transform-origin: center;
  transition: transform 1.3s ease-out, box-shadow 1.3s ease-out;
  visibility: hidden; }
  @media (max-width: 992px) {
    .photo-card {
      display: none; } }
  .photo-card.in-view {
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.8);
    visibility: visible; }
  .photo-card.right {
    right: 0; }

#alice-fiona {
  background: url(../img/alice-fiona-small.jpg) no-repeat center center;
  width: 400px;
  height: 271px; }
  #alice-fiona.in-view {
    transform: translate(-290px, -160px) rotate(-25deg); }

#ida-stefan {
  background: url(../img/ida-stefan.jpg) no-repeat center center;
  width: 400px;
  height: 472px; }
  #ida-stefan.in-view {
    transform: translate(510px, -160px) rotate(-25deg); }

#baltazar {
  background: url(../img/baltazar.jpg) no-repeat center center;
  width: 300px;
  height: 400px; }
  #baltazar.in-view {
    transform: translate(300px, -60px) rotate(15deg); }

#long-time-ago {
  background: url(../img/long-time-ago.jpg) no-repeat center center;
  width: 293px;
  height: 453px; }
  #long-time-ago.in-view {
    transform: rotate(-25deg) translate(-389px, 160px); }

#fiona {
  background: url(../img/fiona-small.jpg) no-repeat center center;
  width: 300px;
  height: 400px; }
  #fiona.in-view {
    transform: rotate(21deg) translate(437px, 496px); }

#no-post {
  background: url(../img/no-post.jpg) no-repeat center center;
  width: 279px;
  height: 400px; }
  #no-post.in-view {
    transform: rotate(17deg) translate(320px, 60px); }

#this-way-to {
  background: url(../img/thiswayto.jpg) no-repeat center center;
  width: 450px;
  height: 450px; }
  #this-way-to.in-view {
    transform: rotate(25deg) translate(-390px, 200px); }

#kyrka {
  background: url(../img/kyrka.jpg) no-repeat center center;
  width: 300px;
  height: 451px;
  top: 300px;
  transform: rotate3d(1, 1, 1, 180deg); }
  #kyrka.in-view {
    transform: translate(300px, 100px) rotate(-15deg); }

#vigsel {
  background: url(../img/vigsel1.jpg) no-repeat center center;
  width: 400px;
  height: 400px; }
  #vigsel.in-view {
    transform: translate(-400px, -100px) rotate(15deg); }

#rinkaby-tables {
  background: url(../img/rinkaby_tables.jpg) no-repeat center center;
  background-size: cover;
  top: 2000px;
  width: 400px;
  height: 300px; }
  #rinkaby-tables.in-view {
    transform: translate(-364px, 100px) rotate(-25deg); }

#rinkaby-spring {
  background: url(../img/rinkaby-spring.jpg) no-repeat center center;
  background-size: cover;
  top: 1500px;
  width: 400px;
  height: 300px; }
  #rinkaby-spring.in-view {
    transform: translate(350px, 50px) rotate(-20deg); }

#bandet {
  background: url(../img/bandet.jpg) no-repeat center center;
  background-size: cover;
  top: 2300px;
  width: 449px;
  height: 300px; }
  #bandet.in-view {
    transform: translate(460px, 150px) rotate(45deg); }

#glas {
  background: url(../img/glas.jpg) no-repeat center center;
  background-size: cover;
  top: 900px;
  width: 300px;
  height: 450px; }
  #glas.in-view {
    transform: translate(-340px, 50px) rotate(-20deg); }

#buss {
  background: url(../img/buss.jpg) no-repeat center center;
  background-size: cover;
  width: 480px;
  height: 360px;
  top: 250px;
  right: 40px; }
  #buss.in-view {
    transform: translate(600px, 50px) rotate(5deg); }

#paradise {
  background: url(../img/paradise.jpg) no-repeat center center;
  background-size: cover;
  top: 50px;
  width: 400px;
  height: 224px;
  right: 0px; }
  #paradise.in-view {
    transform: translate(410px, 50px) rotate(20deg); }

#money {
  background: url(../img/mynt.jpg) no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 300px;
  height: 267px; }
  #money.in-view {
    transform: translate(-300px, 50px) rotate(-20deg); }

#rsvp form {
  position: relative; }

#rsvp .paper-box > div {
  transition: height 1.3s ease-in-out, opacity 1.3s ease-in-out; }

#rsvp .help-block.required {
  display: none; }

#rsvp .has-error .help-block.required {
  display: block; }

#rsvp p.help-block {
  font-size: 0.9em; }

#rsvp .error-message {
  background-color: #FFEFEF;
  color: #FFAAAA;
  padding: 1em;
  display: none; }

#rsvp .submit-message {
  opacity: 0;
  height: 0px;
  overflow: hidden; }

#rsvp.error .error-message {
  display: block; }

#rsvp.error .submit-form {
  display: none; }

#rsvp.submitted .submit-message {
  opacity: 100;
  height: auto;
  overflow: visible; }

#rsvp.submitted .submit-form {
  opacity: 0;
  height: 0px;
  overflow: hidden; }

#map {
  width: 100%;
  height: 600px; }

@media (min-width: 767px) {
  .content-section {
    padding-top: 250px; }
    .content-section.image-bg-section {
      margin-top: 250px;
      padding: 100px 0; } }

.btn {
  text-transform: uppercase;
  font-family: "Farsan","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0; }

.btn-default {
  border: 1px solid #888;
  color: #888;
  background-color: transparent; }
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #888;
    outline: none;
    color: white;
    background-color: #888; }

ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

footer {
  padding: 50px 0; }
  footer p {
    margin: 0; }

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }
