body {
  width: 100%;
  height: 100%;
  font-family: 'Kaushan Script',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  background: url(../img/confectionary.png) #fbfbfb; }

html {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'Kaushan Script',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

@media (max-width: 320px) {
  .container h2, .container h3 {
    font-size: 20px;
    line-height: 1.3; } }

.container h4,
.container h5,
.container h6 {
  margin: 0 0 10px; }

p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 1.1; }
  @media (min-width: 768px) {
    p {
      margin: 0 0 35px;
      font-size: 18px;
      line-height: 1.3; } }

a {
  color: #888;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #555555; }

.light {
  font-weight: 400; }

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fbfbfb; }
  .navbar-custom .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #333; }
    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
      outline: none; }
  .navbar-custom .navbar-brand {
    font-weight: 700; }
    .navbar-custom .navbar-brand:focus {
      outline: none; }
  .navbar-custom .nav li a {
    transition: background .3s ease-in-out; }
    .navbar-custom .nav li a:hover {
      color: black;
      outline: none;
      background-color: transparent; }
    .navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
      outline: none;
      background-color: transparent; }
  .navbar-custom .nav li.active {
    outline: none; }
    .navbar-custom .nav li.active a {
      background-color: rgba(0, 0, 0, 0.3); }
      .navbar-custom .nav li.active a:hover {
        color: white; }
  @media (min-width: 768px) {
    .navbar-custom {
      padding: 20px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: transparent;
      transition: background .5s ease-in-out,padding .5s ease-in-out, color .5s ease-in-out; }
      .navbar-custom a {
        color: white;
        text-shadow: 0 0 3px black; }
      .navbar-custom.top-nav-collapse {
        padding: 0;
        background: #fbfbfb;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        .navbar-custom.top-nav-collapse a {
          color: #333;
          text-shadow: none; } }

.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px black;
  background: url(../img/intro_bg.jpg) no-repeat bottom center scroll;
  background-size: cover; }
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px; }
    .intro .intro-body .brand-heading {
      font-size: 1em; }
    .intro .intro-body .intro-text {
      font-size: .6em; }
  @media (min-width: 768px) {
    .intro {
      height: 100%;
      padding: 0; }
      .intro .intro-body {
        font-size: 100px; } }
  @media (min-width: 768px) {
    .intro {
      height: 100%;
      padding: 0; }
      .intro .intro-body {
        font-size: 100px; } }
  @media (min-width: 1170px) {
    .intro {
      height: 100%;
      padding: 0; }
      .intro .intro-body {
        font-size: 120px; } }

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  box-shadow: 0 0 10px black;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px black;
  background: transparent;
  transition: background .3s ease-in-out; }
  .btn-circle:hover, .btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(0, 0, 0, 0.1); }
  .btn-circle i.animated {
    transition-property: transform;
    transition-duration: 1s; }
  .btn-circle:hover i.animated {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

@keyframes pulse {
  from {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.content-section {
  padding-top: 100px; }

.paper-box {
  background-color: white;
  padding: 40px;
  position: relative;
  border: 1px solid #BBB;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.08); }

.paper-box:before, .paper-box:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 12px;
  background: transparent;
  transform: skew(-5deg) rotate(-5deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  z-index: -1; }

.paper-box:after {
  left: auto;
  right: 12px;
  transform: skew(5deg) rotate(5deg); }

.photo-card {
  position: absolute;
  top: 0;
  border: 3px solid white;
  /*  box-shadow: 18px 18px 10px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.8);
*/
  z-index: -5;
  transform-origin: center;
  transition: transform 1.3s ease-out, box-shadow 1.3s ease-out;
  visibility: hidden; }
  @media (max-width: 768px) {
    .photo-card {
      display: none; } }
  .photo-card.in-view {
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.8);
    visibility: visible;
    transform: scaleZ(1); }

#alice-fiona {
  background: url(../img/alice-fiona-small.jpg) no-repeat center center;
  width: 400px;
  height: 271px; }
  #alice-fiona.in-view {
    transform: translate(-290px, -160px) rotate(-25deg); }

#ida-stefan {
  background: url(../img/ida-stefan.jpg) no-repeat center center;
  width: 400px;
  height: 472px; }
  #ida-stefan.in-view {
    transform: translate(510px, -160px) rotate(-25deg); }

#long-time-ago {
  background: url(../img/long-time-ago.jpg) no-repeat center center;
  width: 293px;
  height: 453px; }
  #long-time-ago.in-view {
    transform: rotate(-25deg) translate(-290px, 160px); }

#fiona {
  background: url(../img/fiona-small.jpg) no-repeat center center;
  width: 300px;
  height: 400px; }
  #fiona.in-view {
    transform: rotate(20deg) translate(350px, 260px); }

#no-post {
  background: url(../img/no-post.jpg) no-repeat center center;
  width: 279px;
  height: 400px; }
  #no-post.in-view {
    transform: rotate(20deg) translate(620px, 100px); }

#this-way-to {
  background: url(../img/thiswayto.jpg) no-repeat center center;
  width: 450px;
  height: 450px; }
  #this-way-to.in-view {
    transform: rotate(25deg) translate(-390px, 200px); }

#kyrka {
  background: url(../img/kyrka.jpg) no-repeat center center;
  width: 300px;
  height: 451px;
  transform: rotate3d(1, 1, 1, 180deg); }
  #kyrka.in-view {
    transform: translate(540px, -100px) rotate(-25deg); }

#vigsel {
  background: url(../img/vigsel1.jpg) no-repeat center center;
  width: 400px;
  height: 400px; }
  #vigsel.in-view {
    transform: translate(-440px, -140px) rotate(25deg); }

#rinkaby-tables {
  background: url(../img/rinkaby_tables.jpg) no-repeat center center;
  background-size: cover;
  width: 400px;
  height: 300px; }
  #rinkaby-tables.in-view {
    transform: rotate(25deg) translate(-440px, 100px); }

#rinkaby-spring {
  background: url(../img/rinkaby-spring.jpg) no-repeat center center;
  background-size: cover;
  width: 400px;
  height: 300px; }
  #rinkaby-spring.in-view {
    transform: translate(500px, 550px) rotate(-20deg); }

#bandet {
  background: url(../img/bandet.jpg) no-repeat center center;
  background-size: cover;
  width: 449px;
  height: 300px; }
  #bandet.in-view {
    transform: translate(440px, -10px) rotate(20deg); }

#glas {
  background: url(../img/glas.jpg) no-repeat center center;
  background-size: cover;
  width: 300px;
  height: 450px; }
  #glas.in-view {
    transform: translate(-440px, 350px) rotate(-20deg); }

#rsvp p.help-block {
  font-size: 0.9em; }

#map {
  width: 100%;
  height: 400px; }

@media (min-width: 767px) {
  .content-section {
    padding-top: 250px; }
    .content-section.image-bg-section {
      margin-top: 250px;
      padding: 100px 0; } }

.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0; }

.btn-default {
  border: 1px solid #888;
  color: #888;
  background-color: transparent; }
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #888;
    outline: none;
    color: white;
    background-color: #888; }

ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

footer {
  padding: 50px 0; }
  footer p {
    margin: 0; }

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }
