@import "variables";
@import "mixins";

body {
    width: 100%;
    height: 100%;
    font-family: 'Kaushan Script',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $text;
    background: url(../img/confectionary.png) $bgcolor;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Kaushan Script',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.container h4,
.container h5,
.container h6 {
    margin: 0 0 10px;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.1;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 1.3;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: $bgcolor;
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: $text;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: black;
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(black, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        a {
          color:white;
          text-shadow: 0 0 3px black;
        }
        transition: background .5s ease-in-out,padding .5s ease-in-out, color .5s ease-in-out;
        &.top-nav-collapse {
            a {
              color: $text;
              text-shadow:none;
            }
            padding: 0;
            background: $bgcolor;
            border-bottom: 1px solid rgba(white, 0.3);
        }
    }
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px black;
    background: url(../img/intro_bg.jpg) no-repeat bottom center scroll;
    background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        font-size: 40px;
        .brand-heading {
            font-size: 1em;
        }
        .intro-text {
            font-size: .6em;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
          font-size: 100px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
          font-size: 100px;
        }
    }
    @media(min-width:1170px) {
        height: 100%;
        padding: 0;
        .intro-body {
          font-size: 120px;
        }
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    box-shadow: 0 0 10px black;
    border-radius: 100% !important;
    font-size: 40px;
    color:white;
    text-shadow: 0 0 10px black;
    background: transparent;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(black, 0.1);
    }
    i.animated {
        transition-property: transform;
        transition-duration: 1s;
    }
    &:hover {
        i.animated {
            animation-name: pulse;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.paper-box {
  background-color: white;
  padding: 40px;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.08);

}

.paper-box:before, .paper-box:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 10px;
	background: transparent;
	transform: skew(-5deg) rotate(-5deg);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.paper-box:after {
	left: auto;
	right: 12px;
	transform: skew(5deg) rotate(5deg);
}

.photo-card {
  position: absolute;
  top:0;
  border:3px solid white;
  box-shadow: 18px 18px 10px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: -5;
  transform: scaleZ(2.8) rotate3d(0,1,1, 90deg);
  transform-origin: center;
  transition: transform 1.3s ease-out, box-shadow 1.3s ease-out;
  @media(max-width:768px) {
    display: none;
  }
  visibility: hidden;
  &.in-view {
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.8);
    visibility: visible;
    transform: scaleZ(1)
  }
}

#alice-fiona {
  background: url(../img/alice-fiona-small.jpg) no-repeat center center;
  width: 400px;
  height: 271px;
  &.in-view {
    transform: translate(-290px,-160px) rotate(-25deg);
  }
}
#ida-stefan {
  background: url(../img/ida-stefan.jpg) no-repeat center center;
  width: 400px;
  height: 472px;
  &.in-view {
    transform: translate(510px,-160px)  rotate(-25deg);
  }
}
#long-time-ago {
  background: url(../img/long-time-ago.jpg) no-repeat center center;
  width: 293px;
  height: 453px;
  &.in-view {
    transform: rotate(-25deg) translate(-290px,160px);
  }
}
#fiona {
  background: url(../img/fiona-small.jpg) no-repeat center center;
  width: 300px;
  height: 400px;
  &.in-view {
    transform: rotate(20deg) translate(350px,260px);
  }
}
#no-post {
  background: url(../img/no-post.jpg) no-repeat center center;
  width: 279px;
  height: 400px;
  &.in-view {
    transform: rotate(20deg) translate(620px,100px);
  }
}
#this-way-to {
  background: url(../img/thiswayto.jpg) no-repeat center center;
  width: 450px;
  height: 450px;
  &.in-view {
    transform: rotate(25deg) translate(-390px, 200px);
  }
}
#kyrka {
  background: url(../img/kyrka.jpg) no-repeat center center;
  width: 300px;
  height: 451px;
  transform: rotate3d(1,1,1, 180deg);
  &.in-view {
    transform: translate(540px, -100px) rotate(-25deg);
  }
}
#vigsel {
  background: url(../img/vigsel1.jpg) no-repeat center center;
  width: 400px;
  height: 400px;
  &.in-view {
    transform: translate(-440px, -140px) rotate(25deg);
  }
}
#rinkaby-tables {
  background: url(../img/rinkaby_tables.jpg) no-repeat center center;
  background-size: cover;
  width: 400px;
  height: 300px;
  &.in-view {
    transform: rotate(25deg) translate(-440px, 100px);
  }
}
#rinkaby-spring {
  background: url(../img/rinkaby-spring.jpg) no-repeat center center;
  background-size: cover;
  width: 400px;
  height: 300px;
  &.in-view {
    transform:  translate(500px, 550px) rotate(-20deg);
  }
}
#bandet {
  background: url(../img/bandet.jpg) no-repeat center center;
  background-size: cover;
  width: 449px;
  height: 300px;
  &.in-view {
    transform:  translate(440px, -10px) rotate(20deg);
  }
}
#glas {
  background: url(../img/glas.jpg) no-repeat center center;
  background-size: cover;
  width: 300px;
  height: 450px;
  &.in-view {
    transform:  translate(-440px, 350px) rotate(-20deg);
  }
}

#rsvp {
  p.help-block {
    font-size: 0.9em;
  }
}
#map {
    width: 100%;
    height: 400px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
        &.image-bg-section {
          margin-top: 250px;
          padding: 100px 0;
        }
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: white;
        background-color: $primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}
