@import "variables";
@import "mixins";


html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Farsan', cursive;
    font-size: 20px;
    color: $text;
    background: url(../img/confectionary.png) $bgcolor;

    /* Small devices (tablets, $breakpointLarge and up) */
    @media (min-width: $breakpointLarge) {
      font-size: 30px;
    }

}

.body-container {
    position: absolute;
    left:0;
    right:0;
    overflow-x: hidden;
}

h1 {
  font-size: 5em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.5em;
}
h4, h5, h6 {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Great Vibes', cursive;
    margin: 0.5em 0 0;
    line-height: 1.5em;
    color: #666;
    font-weight: bold;
    &:first-child {
      margin-top: 0;
    }
}

.form-control {
  font-size: 0.8em;
}

p {
  line-height: 1.5em;
  margin: 0 0 1em;
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: Helvetica,Arial,sans-serif;
    background-color: $bgcolor;
    .navbar-toggle {
        padding: 4px 6px;
        color: $text;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-size: 14px;
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    .nav {
        li {
            a {
                transition: background .3s ease-in-out;
                &:hover {
                    color: black;
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(black, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:$breakpointLarge) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        a {
          color:white;
          text-shadow: 0 0 3px black;
        }
        transition: background .5s ease-in-out,padding .5s ease-in-out, color .5s ease-in-out;
        &.top-nav-collapse {
            a {
              color: $text;
              text-shadow:none;
            }
            padding: 0;
            background: $bgcolor;
            border-bottom: 1px solid rgba(white, 0.3);
        }
    }
}

.intro {
    font-family: 'Great Vibes', cursive;
    color:white;
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 20px black;
    background: url(../img/intro_bg.jpg) no-repeat bottom center scroll;
    background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            color:white;
            font-weight: 600;
        }
        .intro-text {
          font-size: 3em;
        }
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    box-shadow: 0 0 10px black;
    border-radius: 100% !important;
    font-size: 40px;
    color:white;
    text-shadow: 0 0 10px black;
    background: transparent;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(black, 0.1);
    }
    i.animated {
        transition-property: transform;
        transition-duration: 1s;
    }
    &:hover {
        i.animated {
            animation-name: pulse;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.paper-box {
  background-color: white;
  padding: 30px 40px;
  position: relative;
  border: 1px solid #BBB;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.08);

}

.paper-box:before, .paper-box:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	transform: skew(-5deg) rotate(-5deg);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.paper-box:after {
	left: auto;
	right: 12px;
	transform: skew(5deg) rotate(5deg);
}
.mobile-message {
  display: none;
  padding: 0 15px;
  @media(max-width:$breakpointLarge) {
    display: block;
  }
  .alert {
    border:2px solid #FFAAAA;
    border-radius: 4px;
    background-color: #FEFAFA;
    color: #FF8888;
    padding: 15px;
    font-size: 22px;
    margin: 20px 0 -80px 0;
  }
}
.photo-card {
  position: absolute;
  top:0;
  border:3px solid white;
  z-index: -5;
  transform-origin: center;
  transition: transform 1.3s ease-out, box-shadow 1.3s ease-out;
  @media(max-width:$breakpointLarge) {
    display: none;
  }
 visibility: hidden;
  &.in-view {
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.8);
    visibility: visible;
  }
  &.right {
    right: 0;
  }
}

#alice-fiona {
  background: url(../img/alice-fiona-small.jpg) no-repeat center center;
  width: 400px;
  height: 271px;
  &.in-view {
    transform: translate(-290px,-160px) rotate(-25deg);
  }
}
#ida-stefan {
  background: url(../img/ida-stefan.jpg) no-repeat center center;
  width: 400px;
  height: 472px;
  &.in-view {
    transform: translate(510px,-160px)  rotate(-25deg);
  }
}
#baltazar {
  background: url(../img/baltazar.jpg) no-repeat center center;
  width: 300px;
  height: 400px;
  &.in-view {
    transform: translate(300px,-60px)  rotate(15deg);
  }
}
#long-time-ago {
  background: url(../img/long-time-ago.jpg) no-repeat center center;
  width: 293px;
  height: 453px;
  &.in-view {
    transform: rotate(-25deg) translate(-389px,160px);
  }
}
#fiona {
  background: url(../img/fiona-small.jpg) no-repeat center center;
  width: 300px;
  height: 400px;
  &.in-view {
      transform: rotate(21deg) translate(437px,496px);
  }
}
#no-post {
  background: url(../img/no-post.jpg) no-repeat center center;
  width: 279px;
  height: 400px;
  &.in-view {
    transform: rotate(17deg) translate(320px,60px);
  }
}
#this-way-to {
  background: url(../img/thiswayto.jpg) no-repeat center center;
  width: 450px;
  height: 450px;
  &.in-view {
    transform: rotate(25deg) translate(-390px, 200px);
  }
}
#kyrka {
  background: url(../img/kyrka.jpg) no-repeat center center;
  width: 300px;
  height: 451px;
  top: 300px;
  transform: rotate3d(1,1,1, 180deg);
  &.in-view {
    transform: translate(300px, 100px) rotate(-15deg);
  }
}
#vigsel {
  background: url(../img/vigsel1.jpg) no-repeat center center;
  width: 400px;
  height: 400px;
  &.in-view {
    transform: translate(-400px, -100px) rotate(15deg);
  }
}
#rinkaby-tables {
  background: url(../img/rinkaby_tables.jpg) no-repeat center center;
  background-size: cover;
  top: 2000px;
  width: 400px;
  height: 300px;
  &.in-view {
    transform: translate(-364px,100px) rotate(-25deg);
  }
}
#rinkaby-spring {
  background: url(../img/rinkaby-spring.jpg) no-repeat center center;
  background-size: cover;
  top: 1500px;
  width: 400px;
  height: 300px;
  &.in-view {
    transform:  translate(350px, 50px) rotate(-20deg);
  }
}
#bandet {
  background: url(../img/bandet.jpg) no-repeat center center;
  background-size: cover;
  top: 2300px;
  width: 449px;
  height: 300px;
  &.in-view {
    transform:  translate(460px, 150px) rotate(45deg);
  }
}
#glas {
  background: url(../img/glas.jpg) no-repeat center center;
  background-size: cover;
  top: 900px;
  width: 300px;
  height: 450px;
  &.in-view {
    transform:  translate(-340px, 50px) rotate(-20deg);
  }
}
#buss {
  background: url(../img/buss.jpg) no-repeat center center;
  background-size: cover;
  width: 480px;
  height: 360px;
  top: 250px;
  right: 40px;
  &.in-view {
    transform:  translate(600px, 50px) rotate(5deg);
  }
}
#paradise {
  background: url(../img/paradise.jpg) no-repeat center center;
  background-size: cover;
  top: 50px;
  width: 400px;
  height: 224px;
  right:0px;
  &.in-view {
    transform:  translate(410px, 50px) rotate(20deg);
  }
}
#money {
  background: url(../img/mynt.jpg) no-repeat center center;
  background-size: cover;
  top: 0;
  left:0;
  width: 300px;
  height: 267px;
  &.in-view {
    transform:  translate(-300px, 50px) rotate(-20deg);
  }
}

#rsvp {
  form {
    position: relative;
  }

  .paper-box > div {
    transition: height 1.3s ease-in-out, opacity 1.3s ease-in-out;
  }
  .help-block.required {
    display: none;
  }
  .has-error {
    .help-block.required {
      display: block;
    }
  }
  p.help-block {
    font-size: 0.9em;
  }
  .error-message {
    background-color: #FFEFEF;
    color: #FFAAAA;
    padding: 1em;
    display: none;
  }
  .submit-message {
    opacity: 0;
    height: 0px;
    overflow: hidden;
  }
  &.error {
    .error-message {
        display: block;
    }
    .submit-form {
      display: none;
    }
  }
  &.submitted {
    .submit-message {
      opacity: 100;
      height: auto;
      overflow: visible;;
    }
    .submit-form {
      opacity: 0;
      height: 0px;
      overflow: hidden;
    }
  }
}
#map {
    width: 100%;
    height: 600px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
        &.image-bg-section {
          margin-top: 250px;
          padding: 100px 0;
        }
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Farsan","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: white;
        background-color: $primary;
    }
}

ul.list-inline {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}
